{%extends 'menu.html'%}
{%block content%}
{%load static%}

<!DOCTYPE html>
<html>
  
  <head>
    
    <link rel="stylesheet" href="{%static 'css/edit.css'%}">
    <title> Edit student's data </title>
    
</head>


 
  <br><br><br><br><br><br> <br>

  <body>
    <div class="container">
      <div class="title">Edit student info</div>
      <div class="content">
        <form action="editstudent" method="post" id="myform"> {% csrf_token%}
          <div class="user-details">
            <div class="input-box">
              <span class="details">ID</span>
              <input type="text" placeholder="Enter student's ID" id="id" name="id">
            </div>
            <div class="input-box">
              <span class="details">name</span>
              <input type="text" placeholder="Enter student's name" id="name" name="name">
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" placeholder="Enter student's number" id="number" name="number">
            </div>
            <div class="input-box">
              <span class="details">Email address</span>
              <input type="text" placeholder="Enter student's Email" id="email" name="email">
            </div>
            <div class="input-box">
              <span class="details">Address</span>
              <input type="text" placeholder="Enter student's Address" id="address" name ="address">
            </div>
            <div class="input-box">
              <label>level</label>
              <input type="number" placeholder="Enter student's level" id="level" name="lvl" />
            </div>
            <div class="input-box">
              <label>GPA</label>
              <input type="number" placeholder="Enter student's GPA" id="gpa" name="gpa">
            </div>

            <!-- -->
          </div>

          <div class="button">
            <input type="submit" value="Edit" id="edit">
          </div>
        </form>
      </div>
    </div>
  </body>
  </main>
  <footer>
    &copy; all rights are reserved to FCAI-CU
  </footer>
  <script>
    const submitbtn = document.querySelector("#edit");
    const id = document.getElementById("id");
    let flag = 0;
  
    submitbtn.addEventListener("click", function(event) {
      flag = 1;
      event.preventDefault();
      $(document).ready(function() {
        $.ajax({
          type: "GET",
          url: "{% url 'getstudents' %}",
          success: function(response) {
            for (var key in response.Data) {
              if (id.value == response.Data[key].id) {
                flag = 0;
                break;
              }
            }
            if (flag == 1) {
              alert("User ID does not exist");
            } else {
              document.getElementById("myform").submit(); // Submit the form
            }
          },
          error: function() {
            alert("An Error Occurred");
          }
        });
      });
    });
  </script>
  
  

  
  <script src="{%static 'java/editStudent.js'%}"></script>
</html>
{%endblock%}