{%block content%} {%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Home page" />
    <title>Students Affairs Sign Up</title>
    <link rel="stylesheet" href="{%static 'css/SignUp.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="bg"></div>
    <img class="img1" src="{%static 'images/Cairo_University_Crest.png'%}" />
    <img
      class="img2"
      src="{%static 'images/faculty_logo-removebg-preview.png'%}"
      alt=""
    />
    <br /><br /><br /><br /><br /><br /><br /><br />

    <div class="wrapper">
      <form action="login" method="POST" id="myForm">
        {% csrf_token %}
        <div class="title">Sign Up</div>

        <div class="form">
          <div class="input_field">
            <label for="id">National ID</label>
            <input type="text" class="input" id="nid" name="id" />
          </div>
          <div class="input_field">
            <label for="full-name">Full Name</label>
            <input type="text" class="input" id="fullname" name="fullname" />
          </div>

          <div class="input_field">
            <label for="un">Username</label>
            <input type="text" name="Username" id="username" required />
          </div>

          <div class="input_field">
            <label for="pass">Password</label>
            <input type="password" id="password" name="pass" />
          </div>

          <div class="input_field">
            <label for="confirm">Confirm Password</label>
            <input type="password" id="confirmpass" name="cpass" />
          </div>

          <div class="input_field">
            <label>Phone number</label>
            <input type="text" id="phonenum" name="phone" />
          </div>

          <div class="input_field">
            <label>Date of birth</label>
            <input type="date" required name="date" />
          </div>
          <div class="input">
            <input type="submit" value="Sign Up" class="btn" id="submit-btn" />
          </div>
        </div>
      </form>
    </div>
    {% comment %}
    <script src="{%static 'java/signup.js'%}"></script>
    {% endcomment %}
    <script>
      const submitbtn = document.querySelector("#submit-btn");
      const id = document.getElementById("nid");
      const user = document.getElementById("username");

      submitbtn.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default form submission
        let flag = 1;

        $.ajax({
          type: "GET",
          url: "{% url 'getprofiles' %}",
          success: function (response) {
            for (var key in response.Data) {
              if (id.value == response.Data[key].NationalId) {
                alert("ID is already used");
                flag = 0;
                break; // Stop further processing
              }
            }

            for (var key in response.Data) {
              if (user.value == response.Data[key].UserName) {
                alert("Username is already used");
                flag = 0;
                break; // Stop further processing
              }
            }
            if (flag === 1) {
              const fullname = document.querySelector("#fullname");
              const username = document.querySelector("#username");
              const password = document.querySelector("#password");
              const confirmpass = document.querySelector("#confirmpass");
              const phonenum = document.querySelector("#phonenum");
              const NationalID = document.querySelector("#nid");
              const date = document.querySelector('input[type="date"]');

              const submitBtn = document.querySelector("#submit-btn");

              let naid = /^\d{14}$/;
              let nameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)+$/;
              let idRegex = /^\d{8}$/;
              let numRegex = /^(010|011|012|015)\d{8}$/;

              if (!naid.test(NationalID.value.trim())) {
                alert("please enter a correct National ID");
                NationalID.focus();
                event.preventDefault();
                return false;
              }

              // Check if the required fields are filled
              if (
                fullname.value.trim() === "" ||
                !nameRegex.test(fullname.value.trim())
              ) {
                alert("Please enter your full name.");
                fullname.focus();
                event.preventDefault();

                return false;
              }

              if (
                username.value.trim() === "" ||
                username.value.trim().length < 3 ||
                !idRegex.test(username.value)
              ) {
                alert("Username should be 8 characters");
                username.focus();
                return false;
              }

              if (
                password.value.trim() === "" ||
                password.value.trim().length < 8
              ) {
                alert("Password should be at least 8 characters");
                password.focus();
                return false;
              }

              if (confirmpass.value.trim() != password.value.trim()) {
                alert("Passwords do not match!");
                confirmpass.focus();
                return false;
              }

              if (
                phonenum.value.trim() === "" ||
                !numRegex.test(phonenum.value)
              ) {
                alert("Please enter your phone number.");
                phonenum.focus();
                return false;
              }

              if (date.value.trim() === "") {
                alert("Please enter your date of birth.");
                date.focus();
                return false;
              }
              document.getElementById("myForm").submit();
            }
          },
          error: function () {
            alert("An error occurred");
          },
        });
      });
    </script>

    <div>
      <button class="but">
        contact us <i class="gg-mail" style="padding: 2%"></i>
      </button>
    </div>
  </body>
  <br /><br /><br /><br />
  <footer align="center">&copy; all rights are reserved to FCAI-CU</footer>
</html>
{%endblock%}
